$primario: #CD669A;
$color-facebook: #72EBCF;
$color-twitter: #C1C1C1;
$color-instagram: #EB72E7;
$color-linkedin: #96D8FF;
$color-youtube: #FF7C7C;
$color-pinterest: #FFAC56; 
$color-firebrick: #B22222;
$color-darkseagreen: #8FBC8F;
$color-royalblue: #4169E1;
$color-mediumpurple: #9370DB;

