.album-name {
  font-size: 30px;
  font-weight: bold;
}

.album-year {
  font-size: 25px;
}

.album-songs {
  list-style-type: none; 
  padding-left: 0; 
}

.album-songs li {
  margin-bottom: 5px; 
  font-size: 16px;
}

.album{
    text-align: center;
}